<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxi La Gomera - Servicios y Excursiones</title>
    <link rel="stylesheet" href="./public/css/index.css">
</head>

<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="#">inicio</a></li>
                <li><a href="#">destinos</a></li>
                <li><a href="#">contacto</a></li>
            </ul>
        </nav>
        <div class="titulo">
            <h1>Taxi<br>La<br>Gomera</h1>
        </div>
    </header>
</body>

</html>